body {
    background-color: #FDF5E6;/* Color de fondo */
    color: #8B4513; /* Color del texto */
}

h2 {
    color: #2F4F4F; /* Color de subtítulos */
}

a {
    color: #FF6347; /* Color de enlaces*/
}